<% content_for :title, "About Us" %>

<main class="page-content grid lg:grid-cols-2 gap-6 mt-2 lg:mx-20 animate-fade-in">
  <section class="flex-grow gap-4 w-full text-justify col-span-1 p-4 justify-center">
    <% about_sections = [
      {
        title: "About Mario's Pizza Villa",
        content: "Welcome to Mario's Pizza Villa, where the flavors of Italy meet the warmth of a family gathering. Established in 2008, Mario's Pizza Villa has been a beloved destination for pizza enthusiasts and those seeking a taste of authentic Italian cuisine. We're more than just a pizzeria; we're a place where people come together to savor the finest pizza in town."
      },
      {
        title: "Our Signature Pizzas",
        content: "At Mario's Pizza Villa, we take pride in crafting pizzas that are second to none. Our secret family recipes and handpicked ingredients ensure that every slice is a true delight. Join us and discover a world of flavors, from our classic Margherita to our specialty pies like the Villa Supreme."
      },
      {
        title: "Meet Our Founder",
        content: "Behind the ovens, you'll find our passionate owner, Mario. As a pizza aficionado, chef extraordinaire, and a lover of all things Italian, Mario brings a personal touch to every pizza we create. His commitment to excellence is reflected in every bite, and he's always ready to welcome you with a smile."
      },
      {
        title: "A Place for Pizza Lovers",
        content: "Whether you're here for a traditional Neapolitan pizza, celebrating a special occasion, or simply enjoying a slice with friends, Mario's Pizza Villa is where pizza lovers unite. Our pizzaiolos don't just make pizza; they tell a story through each ingredient, ensuring you have an unforgettable dining experience."
      },
      {
        title: "Visit Us",
        content: "Mario's Pizza Villa can be found at 101 Pine Road and 456 Elm Avenue, two cozy locations that embrace the love of pizza, community, and Italian traditions. Join us in celebrating the art of pizza-making and the joy of sharing a delicious meal with loved ones. Explore the world of Mario's Pizza Villa today!"
      }
    ] %>


    <% about_sections.each do |section| %>
      <%= render_about(section) %>
    <% end %>

  </section>

  <% image_addresses = [
    "https://plus.unsplash.com/premium_photo-1661517302764-a5fa40c34bf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80",
    "https://images.unsplash.com/photo-1638981368671-240be4c71a6d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
    "https://plus.unsplash.com/premium_photo-1664472735403-77644019b02e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
    "https://images.unsplash.com/photo-1681504837257-0e1295b075af?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80",
    "https://images.unsplash.com/photo-1673993386859-d1d87430b33c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
    "https://images.unsplash.com/photo-1544982503-769c06a4553b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
    "https://images.unsplash.com/photo-1565364909484-74ef98a238bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80",
    "https://plus.unsplash.com/premium_photo-1671580681938-46dfec03b457?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
  ] %>

  <aside class="grid grid-cols-1 xl:grid-cols-2 xl:col-span-1 gap-3 content-start w-11/12 drop-shadow-2xl m-auto my-8">
    <% image_addresses.each do |img| %>
      <img src="<%= img %>" alt="Coffee shop image" class="object-cover rounded-xl h-full w-full">
    <% end %>
  </aside>
</main>

<script>
  $("main").removeClass("hidden");
  $("main").fadeIn(500)
</script>
