<% content_for :title, "Services" %>

<main class="hidden page-content gap-6 mt-2 w-full lg:w-1/3 mx-auto">
  <p class="font-bold text-4xl mt-4 text-white font-heading text-center underline underline-offset-4">Our services</p>
  <section class="flex-grow gap-4 w-full text-justify col-span-1 p-4 justify-center">
    <% services = [
      {
        title: "Authentic Italian Pizzas",
        content: "Mario's Pizza Villa offers a selection of authentic Italian pizzas crafted with the finest ingredients, ensuring a taste of Italy in every slice.",
        image: "https://images.unsplash.com/photo-1652539616341-93a908bcca2e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8QXV0aGVudGljJTIwSXRhbGlhbiUyMFBpenphfGVufDB8MHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60",
        alt: "Authentic Italian Pizza"
      },
      {
        title: "Signature Pizza Creations",
        content: "In addition to traditional favorites, we present our signature pizza creations, such as the Villa Supreme and Mario's Special, each designed to delight your taste buds.",
        image: "https://images.unsplash.com/photo-1528830984461-4d5c3cc1abf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1931&q=80",
        alt: "Signature Pizza Creations"
      },
      {
        title: "Live Music Nights",
        content: "Mario's Pizza Villa hosts live music nights where talented local artists entertain you with soft jazz while you savor our delicious pizzas. It's a dining experience like no other.",
        image: "https://images.unsplash.com/photo-1501492765677-f07c5f3d87db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2076&q=80",
        alt: "Live Music Nights"
      },
      {
        title: "Cozy Dining Atmosphere",
        content: "Enjoy your pizza in our cozy dining area, complete with warm lighting and Italian-inspired decor, creating the perfect ambiance for a memorable meal.",
        image: "https://images.unsplash.com/photo-1617333907797-1bac8b33af12?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1876&q=80",
        alt: "Cozy Dining Atmosphere"
      },
      {
        title: "Fresh Baked Desserts",
        content: "Complement your pizza with our freshly baked desserts, including delectable cookies and mouthwatering tiramisu, made with love daily.",
        image: "https://images.unsplash.com/photo-1629856428025-8689654d9fd2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80",
        alt: "Fresh Baked Desserts"
      },
      {
        title: "Outdoor Seating",
        content: "Prefer to dine al fresco? We offer outdoor seating so you can savor your pizza while soaking in the vibrant atmosphere of our neighborhood.",
        image: "https://images.unsplash.com/photo-1619855467492-4a1d92ad27ce?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
        alt: "Outdoor Seating"
      },
      {
        title: "Free Wi-Fi",
        content: "Stay connected while enjoying your pizza with our free Wi-Fi, making it an ideal spot for remote work, studying, or sharing your pizza experience online.",
        image: "https://images.unsplash.com/photo-1526411116157-21b2b172c6bc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
        alt: "Free Wi-Fi"
      },
      {
        title: "Catering Services",
        content: "Planning an event? Let us bring our delicious pizza and Italian delights to your location with our catering services, ensuring a taste of Mario's at your event.",
        image: "https://images.unsplash.com/photo-1610472487806-36e3f7bca240?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80",
        alt: "Catering Services"
      }
    ] %>


    <% services.each do |service| %>
      <%= render_service(service) %>
    <% end %>
  </section>
</main>

<script>
  $("main").fadeIn(500)
</script>
